@font-face {
  font-family: "KIAM";
  src: url("../fonts/KIAM.woff2") format("woff2"),
    url("../fonts/KIAM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KIAB";
  src: url("../fonts/KIAB.woff2") format("woff2"),
    url("../fonts/KIAB.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
