html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "KIAM", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  //background: linear-gradient(to right, yellow 40%, green 40%);
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 100%;
  padding: 9px 5px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  border: 0;

  transition: all 0.4s ease 0s;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.button--red {
  background-color: #bc0712;
}

.button--grey {
  background-color: #333333;
}

.button--white {
  color: #bc0712;
  text-transform: none;

  background-color: #ffffff;
  border: 1px solid #bc0712;
}

input {
  appearance: none;
  border-radius: 0;
}

@media (min-width: $tablet-width) {
  .button {
    width: 220px;
  }
}
